!!!5
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    meta(name='viewport', content='width=device-width')
    title Jadeplate
    link(rel='stylesheet', href='/_assets/css/style.css')
  body
    div.visuallyhidden
      a(href="#main-menu") Skip to navigation
      a(href="#main") Skip to content

    header#header(role='masthead')
      div#banner(role='banner'): img(src='', alt='Banner Image')
      nav#main-menu(role='navigation')
        a Nav 1
        a Nav 2
        a Nav 3

    section#main(role='application')
      block content

    // Libraries
    script(src="/_assets/js/libs/ender.js")
    block scripts
